body {
  font-family: 'Arial', sans-serif;
  background-color: #0d1a2d;
  margin: 0;
  padding: 70px;
  display: flex;
  justify-content: center;
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #14253d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  z-index: 1000;
}

.Navbar__Link {
  margin: 0 10px
  color white;
  text-decoration: none;
  font-weight: bold;

}

.Navbar__Link-toggle {
  display: none;
}

.Navbar__Items {
  display: flex;
  align-items: center;
}

.Navbar__Items--right {
  margin-left:auto;
}


@media (max-width: 768px) {
   .Navbar__Link-toggle {
      display: block;
}

    
.Navbar__Items {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color:#14253d;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .Navbar__Items.active {
    display: flex;
  }
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  justify-content: space-between;
}

.card-blue {
  background-color: #14253d;
  color: #fff;
  width: 31%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box; 
  transition: all .5s;
}
.card-orange {
  background-color: #14253d;
  color: #fff;
  width: 31%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box; 
  transition: all .5s;
}
.card-pink {
  background-color: #14253d;
  color: #fff;
  width: 31%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box; 
  transition: all .5s;
}
.card-yellow {
  background-color: #14253d;
  color: #fff;
  width: 31%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box; 
  transition: all .5s;
}
.card-grey {
  background-color: #14253d;
  color: #fff;
  width: 31%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box; 
  transition: all .5s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
 }
 
 .card-blue:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 195, 255, 0.885);
 }
 .card-orange:hover {
  box-shadow: 0px 0px 30px 1px rgba(255, 170, 0, 0.885);
 }
 .card-pink:hover {
  box-shadow: 0px 0px 30px 1px rgba(255, 125, 212, 0.885);
 }
 .card-yellow:hover {
  box-shadow: 0px 0px 30px 1px rgba(255, 242, 0, 0.885);
 }
 .card-grey:hover {
  box-shadow: 0px 0px 30px 1px rgba(31, 152, 158, 0.885);
 }

.image-container img {
  width: 100%;
  border-radius: 8px;
}

.card-title {
  font-size: 1.5rem;
  margin: 20px 0 10px;
}

.card-description {
  font-size: 0.9rem;
  color: #8bacda;
  margin: 0 0 20px;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.price {
  color: #00fff7;
  font-weight: bold;
}

.time-left {
  color: #8bacda;
}

.creator {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.creator-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px); /* 2 cards por linha em tablets */
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%; /* 1 card por linha em celulares */
  }
}
